@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

button {
  all: unset;
  background: linear-gradient(
    90deg,
    #0067f4 -3.33%,
    #0067f4 17.47%,
    rgba(43, 219, 220, 0.5) 114.17%
  );
  border-radius: 100px;
  color: white;
  border-style: none;
  text-align: center;
  font-size: 1pc;
  font-weight: 500;
  box-shadow: 0px 4px 4px 0px #00000040;
  width: auto;
  height: 50px;
  padding: 0 35px;
}

input {
  all: unset;
  font-size: 10pxx;
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 1000px;
  width: 100%;
  height: 100px;
  background-color: #c5e6f9;
  position: fixed;
  top: 0;
}

.navbar > .nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  min-width: 1000px;
  height: 100%;
}

.navbar > .nav-links > .logo {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.navbar > .nav-links > .links {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 20px;
  width: 500px;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 16000px;
  height: 700px;
  background-color: #c5e6f9;
  padding-top: 100px;
  gap: 40px;
}

.hero > .header {
}

.hero > .header > h1 {
  font-size: 3pc;
  text-align: center;
}

.hero > .caption {
}

.hero > .caption > p {
  font-size: 1.2pc;
  text-align: center;
}

.hero > .buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.hero > .buttons > * {
  height: 50px;
  width: 200;
}

.hero > .buttons > .white {
  all: unset;
  background-color: white;
  border-radius: 100px;
  width: auto;
  height: 50px;
  padding: 0 25px;
  color: #3182ce;
  font-weight: 500;
}

.crafted-for {
  width: 80%;
  max-width: 1600px;
  height: 800px;
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  gap: 40px;
}

.crafted-for > div > .text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 20px;
}

.crafted-for > div > .text > .header {
  height: 150px;
}

.crafted-for > div > .text > .header > h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: 0em;
}

.crafted-for > div > .text > .header > p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.crafted-for > div > .text > .quad {
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.crafted-for > div > .text > .quad > .box {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.crafted-for > .pic {
  width: 50%;
}

.pricing {
  width: 80%;
  max-width: 1600px;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.pricing > .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.pricing > .header > * {
  text-align: center;
}

.pricing > .header > h1 {
  font-family: Poppins;
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: 0em;
  text-align: center;
}

.pricing > .header > p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  width: 75%;
}

.pricing > .prices {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.pricing > .prices > .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0px 10px 15px 0px #00000040;
  border-radius: 15px;
  padding: 40px;
  gap: 40px;
}

.pricing > .prices > .box > .basic {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  color: #81e6d9;
}

.pricing > .prices > .box > .pro {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  color: #0067f4;
}

.pricing > .prices > .box > .enterprise {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  color: #4da422;
}

.pricing > .prices > .box > .price {
  font-family: Poppins;
  font-size: 54px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
}

.pricing > .prices > .box > .list > * {
  font-family: Poppins;
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
}

.newsletter {
  width: 100%;
  min-width: 1600px;
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #3182ce;
  gap: 20px;
}

.newsletter > .pic {
  width: 50%;
  height: 100%;
  background-image: url(pics/newsletter.png);
  background-size: cover;
}

.newsletter > .text {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  gap: 40px;
}

.newsletter > .text > div > h1 {
  font-family: Poppins;
  font-size: 48px;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
}

.newsletter > .text > div > p {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  width: 60%;
}

.newsletter > .text > .email-entry {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 100px;
  padding: 5px 5px 5px 5px;
}

.newsletter > .text > .email-entry > * {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.newsletter > .text > .email-entry > div > button {
  all: unset;
  color: white;
  background-color: #3182ce;
  border-radius: 100px;
  width: 150px;
  height: 50px;
}

footer {
  background-color: #2a4365;
  height: 80px;
  width: 100%;
  min-width: 1800px;
  bottom: 0;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer > h5 {
}
